<p id="notice"><%= notice %></p>

<h1>Wynthoughts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Suggestion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wynthoughts.each do |wynthought| %>
      <tr>
        <td><%= wynthought.title %></td>
        <td><%= wynthought.body %></td>
        <td><%= wynthought.suggestion %></td>
        <td><%= link_to 'Show', wynthought %></td>
        <td><%= link_to 'Edit', edit_wynthought_path(wynthought) %></td>
        <td><%= link_to 'Destroy', wynthought, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wynthought', new_wynthought_path %>
